<style>
    #subredditSorter {
        list-style-type: none;
        margin: 0;
        padding: 0;
        max-width: 500px;
        height: 80vh;
        overflow-y: scroll;
        overflow-x: hidden;
        background-color: lightgray;
    }

        #subredditSorter li {
            margin: 0 3px 3px 3px;
            padding-left: 1.5em;
            padding-top: 5px;
            height: 30px;
        }

            #subredditSorter li span {
                position: absolute;
                margin-left: -1.3em;
            }
</style>
<!-- ko with: home -->
@model MassTagger2.Models.ViewModels.HomeViewModel
<div id="result"></div>


@using (Html.BeginForm("Upload", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div>
        <h1>Reddit Masstagger 2.0</h1>
        <p>
            Use the list to the left to sort and customize your subreddit filter. Higher subreddits will be
            prioritized in the case that a user is tagged in multiple subreddits. Choose ignore to block all
            posts and comments by users of that subreddit
        </p>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <input type="file" , name="JsonFile" />
            <input type="submit" value="OK" />
        </div>
        <div class="col-lg-6">
            <div>
                <ul id="subredditSorter" style="list-style-type: none" class="ui-sortable">

                    @foreach (MassTagger2.Models.ViewModels.SubredditViewModel subreddit in Model.Subreddits)
                    {
                        Html.RenderPartial("_SubredditSorter", subreddit);
                    }
                </ul>
            </div>
        </div>
    </div>
}

<script>
    $(function () {
        $("#subredditSorter").sortable();
        $("#subredditSorter").disableSelection();
    });

    $(".removeRow").click(function () {
        $(this).parent().parent().parent().remove();
    })
</script>

<!-- /ko -->
