<body>
    <div>
        <h1>About</h1>
        <div class="row">
            <div class="col-md-6">
                Hi! Welcome to my website. My name is morpen, AKA Nathan Beam. I'm a software developer and avid reddit user. I'm glad you've made it to
                my handy little tool here to identify potentially harmful users of the reddit community. I appreciate you stopping by - hopefully together we
                can help make reddit a bit of a safer place for everyone. If you want to say thanks, all I ask is that you send me a <a href="https://www.reddit.com/message/compose?to=morpen">
                    quick little message on reddit
                </a> letting me know you enjoy the tool.
            </div>
        </div>
        <div>
            <h3>FAQ</h3>
            <h4>Why write this?</h4>
            <p>
                My <a href="https://redd.it/78gtap">original mass tagger</a> was a direct continuation of /u/DavidNatan's <a href="https://redd.it/1d9lxs">excellent work</a>
                back in 2013. At some point, I found myself baited into an argument only to find out that my opponent was an active member of several (literal) Nazi subs. After
                trying to install his script, I discovered that RES had updated their storage mechanism and the old masstaagger no longer worked on the updated schema. Additionally,
                I wanted to improve on /u/DavidNatan's idea of trawling current front pages. This idea was good, as it captured active members, but it only grabbed so many posts, especially
                on larger subreddits. My current method captures posts and comments as they are made, meaning even deletion won't save you from being tagged.
            </p>

            <h3>Isn't this promoting division rather than collaboration?</h3>
            <p>
                Widely, yes, I do think so. What I don't believe is that that's neccesarily a bad thing. My primary goal with this tagger is to tag users of hate 
                subreddits. I.e. the kind of users that cannot be reasoned or compromised with. These users are known to intentionally troll other subreddits, 
                posing as innocuous members who *agree, but just have some concerns about the way you're presenting yourself*. This is known as concern trolling. Ultimately,
                the goal of these concern trolls is to water down the message of the community into a less effective message, in order to weaken their position. By 
                identifying those who are engaging in bad faith, we save time for those who may otherwise engage the bad actors in their concern trolling.
            </p>
        </div>
    </div>
</body>
